.name {
	width: 100%;
	height: 370px;
	margin-top: 72px;
}

.background {
	width: 100%;
	height: 55%;
	position: absolute;
	z-index: 0;
}

.restaurant_card {
	display: inline-block;
	position: relative;
	margin-top: 80px;
	width: 390px;
	height: 200px;
	background-color: #fff;
	z-index: 1;
}

.time {
	width: 100px;
	height: 32px;
	padding-top: 5px;
	text-align: center;
	font-size: 13px;
	background-color: #262626;
	border-radius: 16px;
	color: #FFFFFF;
}

.rest_name {
	font-size: 36px;
	margin-top: 38px;
	margin-left: 38px;
}

.info {
	display: flex;
	justify-content: space-between;
	margin: 62px 38px;
}