.basket2 {
	margin-top: 100px;
}

.gray_hr {
	border-color: #E0E0E0;
}

.padding_top_40 {
	padding-top: 40px;
	text-align: center;
}

.centred {
	text-align: center;
}

.remove_btn, .add_btn, .delete_btn {
	width: 40px;
	height: 40px;
}

.photo {
	width: 200px;
	height: auto;
}
