.rest {
  font-size: 1.375em;
  font-weight: normal;
  margin-top: 56px;
  margin-bottom: 16px;
  line-height: 2.125em;
}

.card {
  background-color: #fff;
  margin-bottom: 16px;
}
.card:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: 0.2s linear;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
}

.card_link:hover {
  text-decoration: none;
}

.card_title {
  color: #1d1d1d;
  padding-top: 16px;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.5em;
}
.card_text {
  color: #626262;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875em;
  line-height: 1.313em;
}
.card_time {
  color: #1d1d1d;
  font-style: normal;
  font-weight: normal;
  font-size: 0.813em;
  line-height: 1.313em;
  padding-bottom: 20px;
}
